.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.section-grid{
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-gap: 1.25em;
    padding: 2% 2% 5% 2%;
}

.designer-image{
    grid-column: 1/5;
    
    img{
        width: 100%;
    }
}

.exhibit-image{
     grid-column: 1/5;
     
     img{
        width: 100%;
        height: auto;
     }
}

.exhibit-content{
    grid-column: 6/11;
    grid-row: 1/1;
    
    p{
        font-size: 16px;
    }
}


.designer-content{
    display: flex;
    flex-direction: column;
    gap:1em;
    grid-column: 6/11;
    margin-right: 2em;
    
    h1{
        margin:0;
    }
    
    h3{
        margin: 0;
    }
    
    p{
        font-size: 18px;
        margin: 0;
    }
}

.website-button{
    margin-top:2em;
    text-decoration: none;
    color: grey;
    display: block;
    margin: 0;
}

.website-button:visited{
    color: grey;
}
