h1 {
	font-size: 2.5em;
	letter-spacing: 0.03em;

	font-display:auto;
	font-style:normal;
	font-weight:600;
	font-stretch:normal;
}

h2 {
	font-size: 1.75em;
	font-weight: normal;
	line-height: 1.75em;
	letter-spacing: 0.03em;
	margin-top: 0.45em;
}

h3 {
	font-size: 1.25rem;
	font-weight: bold;
	line-height: 1.75rem;
	letter-spacing: 0.03em;
	margin-top: 0.45em;
}
h4,
h5,
h6 {
	clear: both;
}
