body,
button,
input,
select,
optgroup,
textarea{
	color: $color__text-main;
	font-family: neue-haas-grotesk-display, sans-serif;
	font-size: 1rem;
	line-height: $font__line-height-body;

    font-style: normal;
}

@import "headings";
@import "copy";


p{
    font-weight: 500;
    letter-spacing: 0.05em;

		font-size: 1.25rem;
		font-weight: normal;
		line-height: 1.75rem;
		letter-spacing: 0.05em;
		margin-top: 0.45em;
}
