body,
button,
input,
select,
optgroup,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	font-size: 1rem;
	line-height: $font__line-height-body;

    font-family: neue-haas-grotesk-display, sans-serif;
    font-style: normal;
}

@import "headings";
@import "copy";

p{
    letter-spacing: 0.05em;
}