#show-map:hover{
    cursor: pointer;
}


.about {
  p {
    font-size: 1.5em;
  	font-weight: normal;
    line-height: 1.75em;
  	letter-spacing: 0.03em;
    margin: 0em;
    
    @media screen and (max-width:800px){
        font-size: 16.25px;
    }
    
  }
  
  h2{
      font: 1.5em;
      margin: 0;
  }
}

.about__container {
  display: grid;
  width: 90%;
  margin: auto;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  column-gap: 1.25em;
  row-gap: $about-row;
  padding: 2% 2% 10% 2%;
  
  @media screen and (max-width:800px){
      width: 95%;
      row-gap:$about-row--mobile;
  }

  .about__class-photo {
    grid-column: 1/13;

    @media screen and (max-width:800px){
      display: none;
    }
  }

  .about__class-photo--mobile {
    grid-column: 1/13;
    display: none;

    @media screen and (max-width:800px){
      grid-column: 1/13;
      display: block;
    }
  }

  .show-about {
    grid-column: 1/13;

    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    column-gap: 1.25em;
    row-gap: $about-row;
    
    img{
        margin-top: $about-row;
        
        @media screen and (max-width:800px){
            margin-top:$about-row--mobile;
        }
    }

    .show-about__title {
      grid-column: 1/4;
    }
    .show-about__description {

      grid-column: 5/13;


      .show-about__description-paragraph {
        color: $color__grey;

        h2 {
          margin-top: 0;
        }
      }

      .show-about__class-photo {
        grid-column: 5/13;

        @media screen and (max-width:800px){
          display: none;
        }
      }

      .show-about__class-photo--mobile {
        grid-column: 1/13;
        display: none;

        @media screen and (max-width:800px){
          grid-column: 1/13;
          display: block;
        }
      }
    }

    @media screen and (max-width:800px){
        display: flex;
        flex-direction: column;
        gap: 0em;
        padding-top: 0em;

        .show-about__title {
          padding-top: 0;
          margin: 0px;
          padding-bottom: 1em;
          h1 {
            font-size: $h1-mobile;
          }
        }
        .show-about__description {


          .show-about__description-paragraph {
            padding-top: 0em;
            padding-bottom: 0.5em;

            p {
              font-size: $p-mobile;
            }
          }
        }
    }
  }


  .show-location {
    display: grid;
    grid-column: 1/13;
    row-gap:$about-row;
    
    @media screen and (max-width:800px){
        row-gap:$about-row--mobile;
    }


    .show-location__description-wrapper {
      grid-column: 1/13;

      display: grid;
      grid-template-columns: repeat(12, minmax(0, 1fr));
      grid-gap: 1.25em;

      .show-location__title {
        grid-column: 1/5;
      }

      .show-location__venue {
        grid-column: 5/8;
        color: $color__grey;
      }

      .show-location__address {
        grid-column: 8/13;
        color: $color__grey;

      }
    }

    .show-location__img-wrapper {
      grid-column: 1/13;

      display: grid;
      grid-template-columns: repeat(12, minmax(0, 1fr));
      grid-gap: 1.25em;

      .show-location__img {
        grid-column: 1/9;
        img {
          width: 100%;
        }
      }

      .show-location__img-2 {
        grid-column: 5/9;
        img {
          width: 100%;
        }
      }
    }

    @media screen and (max-width:800px){
        display: flex;
        flex-direction: column;
        gap: 0em;
        padding-top: 0em;

        .show-location__description-wrapper {
          display: flex;
          flex-direction: column;
          gap: 0em;
          padding-bottom: $about-row;
          
          @media screen and (max-width:800px){
              padding-bottom: $about-row--mobile;
          }

          h1 {
            font-size: $h1-mobile;
          }
          h2 {
            font-size: $h2-mobile;
          }
          p {
            font-size: $p-mobile;
          }

          .show-location__title {
            grid-column: 1/5;
            padding: 0;
            padding-bottom: 0.5em;
          }

          .show-location__venue {
            padding-top: 0em;
          }

          .show-location__address {
            padding-top: 0em;
          }
        }

        .show-location__img-wrapper {
          display: flex;
          flex-direction: column;
          padding-top: 0em;
        }
    }
  }


  .show-date {
    display: grid;
    grid-column: 1/13;
    row-gap:6.25em;
    .show-date__description-wrapper {
      grid-column: 1/13;

      display: grid;
      grid-template-columns: repeat(12, minmax(0, 1fr));
      grid-gap: 1.25em;

      .show-date__title {
        grid-column: 1/5;
      }

      .show-date__duration {
        grid-column: 5/8;
        color: $color__grey;
        
        @media screen and (max-width:1200px){
            padding-right: 40%;
        }
        
        @media screen and (max-width:1150px){
            padding-right: 15%;
        }
      }

      .show-date__time {
        grid-column: 8/13;
        color: $color__grey;
      }
    }

    .show-date__content-wrapper {
      grid-column: 1/13;

      display: grid;
      grid-template-columns: repeat(12, minmax(0, 1fr));
      grid-gap: 1.25em;

      .show-date__img-1 {
        grid-column: 5/13;
        color: $color__grey;

      }
    }
    @media screen and (max-width:800px){
        display: flex;
        flex-direction: column;
        gap: 0em;
        padding-top: 0em;

        .show-date__description-wrapper {
          display: flex;
          flex-direction: column;
          gap: 0em;
          padding-bottom: 1.25em;

          h1 {
            font-size: $h1-mobile;
          }
          h2 {
            font-size: $h2-mobile;
          }

          .show-date__title {
            grid-column: 1/5;
            padding: 0;
            padding-bottom: 0.5em;
          }

          .show-date__duration {
            padding-top: 0em;
          }

          .show-date__time {
            padding-top: 0em;
          }
        }

        .show-date__content-wrapper {
          display: flex;
          flex-direction: column;

          h1 {
            font-size: $h1-mobile;
          }
          h2 {
            font-size: $h2-mobile;
          }

        }
    }
  }

  @media screen and (max-width:600px){
      display: flex;
      flex-direction: column;
      padding: 20px;

      h1 {
        font-size: $h1-mobile;
      }
      h2 {
        font-size: $h2-mobile;
      }
      p {
        font-size: $p-mobile;
      }
  }

}
