
.about {
  p {
    font-size: 1.75em;
  	font-weight: normal;
    line-height: 1.75em;
  	letter-spacing: 0.03em;
    margin-top: 0.45em;
  }
}

.about__container {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-gap: 1.25em;
  padding: 2% 2% 5% 2%;

  .about__class-photo {
    grid-column: 1/13;

    @media screen and (max-width:800px){
      display: none;
    }
  }

  .about__class-photo--mobile {
    grid-column: 1/13;
    display: none;

    @media screen and (max-width:800px){
      grid-column: 1/13;
      display: block;
    }
  }

  .show-about {
    grid-column: 1/13;

    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-gap: 1.25em;
    padding-top: 3em;

    .show-about__title {
      grid-column: 1/4;
    }
    .show-about__description {

      grid-column: 5/13;



      .show-about__description-paragraph {
        padding-bottom: 2.5em;
        color: $color__grey;

        h2 {
          margin-top: 0;
        }
      }
    }

    @media screen and (max-width:800px){
        display: flex;
        flex-direction: column;
        gap: 0em;

        .show-about__title {
          padding-top: 0;
          margin: 0px;
          h1 {
            font-size: $h1-mobile;
          }
        }
        .show-about__description {


          .show-about__description-paragraph {
            padding-top: 0em;
            padding-bottom: 0.5em;

            h2 {
              font-size: $h2-mobile;
            }
          }
        }
    }
  }


  .show-location {
    grid-column: 1/13;
    padding-top: 2em;


    .show-location__description-wrapper {
      grid-column: 1/13;

      display: grid;
      grid-template-columns: repeat(12, minmax(0, 1fr));
      grid-gap: 1.25em;

      .show-location__title {
        grid-column: 1/5;
        padding: 0.75em;
      }

      .show-location__venue {
        grid-column: 5/8;
        color: $color__grey;


      }

      .show-location__address {
        grid-column: 8/13;
        color: $color__grey;

      }
    }

    .show-location__img-wrapper {
      grid-column: 1/13;

      display: grid;
      grid-template-columns: repeat(12, minmax(0, 1fr));
      grid-gap: 1.25em;
      padding-top: 3.25em;

      .show-location__img {
        grid-column: 1/9;
        img {
          width: 100%;
        }
      }

      .show-location__img-2 {
        grid-column: 5/9;
        img {
          width: 100%;
        }
      }
    }

    @media screen and (max-width:800px){
        display: flex;
        flex-direction: column;
        gap: 0em;

        .show-location__description-wrapper {
          display: flex;
          flex-direction: column;
          gap: 0em;
          padding-bottom: 1.25em;

          h1 {
            font-size: $h1-mobile;
          }
          h2 {
            font-size: $h2-mobile;
          }

          .show-location__title {
            grid-column: 1/5;
            padding: 0;
          }

          .show-location__venue {
            padding-top: 0em;
          }

          .show-location__address {
            padding-top: 0em;
          }
        }

        .show-location__img-wrapper {
          display: flex;
          flex-direction: column;
        }
    }
  }


  .show-date {
    grid-column: 1/13;
    padding-top: 2em;

    .show-date__description-wrapper {
      grid-column: 1/13;

      display: grid;
      grid-template-columns: repeat(12, minmax(0, 1fr));
      grid-gap: 1.25em;

      .show-date__title {
        grid-column: 1/5;
        padding: 0.75em;
      }

      .show-date__duration {
        grid-column: 5/8;
        color: $color__grey;
      }

      .show-date__time {
        grid-column: 8/13;
        color: $color__grey;
      }
    }

    .show-date__content-wrapper {
      grid-column: 1/13;

      display: grid;
      grid-template-columns: repeat(12, minmax(0, 1fr));
      grid-gap: 1.25em;

      .show-date__img-1 {
        grid-column: 5/13;
        color: $color__grey;

      }
    }
    @media screen and (max-width:800px){
        display: flex;
        flex-direction: column;
        gap: 0em;

        .show-date__description-wrapper {
          display: flex;
          flex-direction: column;
          gap: 0em;
          padding-bottom: 1.25em;

          h1 {
            font-size: $h1-mobile;
          }
          h2 {
            font-size: $h2-mobile;
          }

          .show-date__title {
            grid-column: 1/5;
            padding: 0;
          }

          .show-date__duration {
            padding-top: 0em;
          }

          .show-date__time {
            padding-top: 0em;
          }
        }

        .show-date__content-wrapper {
          display: flex;
          flex-direction: column;

          h1 {
            font-size: $h1-mobile;
          }
          h2 {
            font-size: $h2-mobile;
          }
        }
    }
  }

  @media screen and (max-width:600px){
      display: flex;
      flex-direction: column;
      padding: 20px;

      h1 {
        font-size: $h1-mobile;
      }
      h2 {
        font-size: $h2-mobile;
      }
  }

}
