header{
    width: 100%;
}

.navbar{
    display: flex;
    justify-content: flex-end;
    grid-gap: 25px;
    height: 70px;
    width: 100%;
    background-color: black;

}

.navbar__menu{    
    display: flex;
    align-content: center;
    justify-content: space-around;
    width: 25%;
        
    
    a{
        align-self: center;
        color:$color__link__nav;
        text-decoration: none;
    }
}
