

header{
    width: 100%;
}

.navbar{
    display: flex;
    justify-content: flex-end;
    grid-gap: 25px;
    height: 70px;
    width: 100%;
    background-color: black;

}

.navbar__menu{
    display: flex;
    align-content: center;
    justify-content: space-around;
    width: 25%;


    a{
        align-self: center;
        color: white;
        text-decoration: none;
    }
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
}
.footer__menu{
  display: flex;
  align-content: center;
  justify-content: space-between;
  padding: 0em 2em;
  color: $color__footer;
}
