<<<<<<< HEAD
/*
h2{
    font-size: max(90px, 9vw);
    margin: 0;

=======
.counter__number{
    font-size: max(40px, 10vw);
    margin: 0;
    
    @media screen and (max-width:1050px){
        font-size: max(36px, 12vw);
    }
    
>>>>>>> 11b8f6c0cbbe0cc497f7c3e3ea74c9664d315995
    @media screen and (max-width:600px){
        font-size: 70px;
    }
}
*/

.count-down__unit{
    font-size: max(16px, 2vw);
    margin: -20%;
}

.count-down__wrapper{
    display: flex;
    justify-content: center;
    gap:5%;
    flex-direction: row;
    align-items: center;
    margin: auto;
<<<<<<< HEAD
    width: 90%;

=======
    width: 70%;
    z-index: 10;

    
>>>>>>> 11b8f6c0cbbe0cc497f7c3e3ea74c9664d315995
    @media screen and (min-width: 2000px){
        margin-top: 1%;
    }

    @media screen and (max-width:600px){
        width: 70%;
    }


}

.count-down{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:10%;
    align-content: center;
    align-items: center;
<<<<<<< HEAD
    width: 100%;

=======
    width: 80%;
    
>>>>>>> 11b8f6c0cbbe0cc497f7c3e3ea74c9664d315995
    @media screen and (max-width:600px){
        flex-direction: column;

        .hours-container{
            padding-bottom: 0;
        }

        .secs-container{
            padding-bottom: 0;
        }
    }
}

.timer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10vw;
}


.days-container{

}

.hours-container{
    padding-bottom: 7em;
}

.mins-container{

}

.secs-container{
    padding-bottom: 7em;
}

.splash-subtitle{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: auto;
<<<<<<< HEAD

=======
    margin-top: -2%;
    z-index: 1;
    
>>>>>>> 11b8f6c0cbbe0cc497f7c3e3ea74c9664d315995
    @media screen and (max-width:1110px){
        flex-direction: column;
        height: 150%;
        gap:3em;

        .splash__lockup{
            max-width: 800px;
        }

        .show__subtitle{
            text-align: center;
        }
    }

    @media screen and (max-width:600px){
        flex-direction: column-reverse;
        justify-content: flex-start;
        align-items: flex-start;
        margin: 0;

        .show__subtitle{
            text-align: left;
        }
    }
}

<<<<<<< HEAD
.splash__lockup{
    width: 80%;

    img{
        margin-left: -2%;
        width: 100%;
        max-height: 90%;
=======
.splash__container{
    width: auto;
}

.splash__video{
    margin: auto;
        
        video{
            width: 60vw;
        }

    @media screen and (max-width: 1050px){
        video{
            width: 80vw;
        }
>>>>>>> 11b8f6c0cbbe0cc497f7c3e3ea74c9664d315995
    }
}

.subtitle{
    p{
        margin: 0;
    }
}
