
.counter__number{
    font-size: max(40px, 7vw);
    margin: 0;

    @media screen and (max-width:1050px){
        font-size: max(36px, 13.5vw);
    }

    @media screen and (max-width:600px){
        font-size: max(24px, 12.5vw);
    }

}

.count-down__unit{
    font-size: max(16px, 2vw);
    margin: -20%;
}

.count-down__wrapper{
    display: flex;
    justify-content: center;
    gap:5%;
    flex-direction: row;
    align-items: center;
    margin: auto;
    width: 70%;
    z-index: 10;


    @media screen and (min-width: 2000px){
        margin-top: 1%;
    }

    @media screen and (max-width:1050px){
        margin-top: 15%;
        width: 90%;
        gap:2.5%;
    }

    @media screen and (max-width:600px){
        margin: 0;
        margin-top: 5%;
        margin-bottom: 5%;
        width: 100%;
    }


}

.count-down{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:10%;
    align-content: center;
    align-items: center;
    width: 80%;
    margin-bottom: 7.5%;

    @media screen and (max-width:1050px){
        width: 100%;
        gap:12%;
    }

    @media screen and (max-width:600px){

        margin-top: 2%;
        flex-direction: row;

        .hours-container{
            padding-bottom: 0;
            margin-top: -40px;
        }

        .secs-container{
            padding-bottom: 0;
            margin-top: -40px;
        }
    }

    @media (max-width:600px) and (max-height:800px){
        margin-bottom: 2%;
    }

}

.timer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10vw;
}


.days-container{

}

.hours-container{
    padding-bottom: 7em;
}

.mins-container{

}

.secs-container{
    padding-bottom: 7em;
}

.splash-subtitle{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: auto;
    margin-top: -7%;
    z-index: 0;

    @media screen and (max-width:1110px){
        flex-direction: column;
        gap:3em;

        .splash__lockup{
            max-width: 800px;
        }

        .subtitle{
            text-align: center;

            .subtitle__copy{
                font-size:20px;
            }

        }

    }

    @media screen and (max-width:600px){
        justify-content: flex-start;
        align-items: center;
        margin: 0 auto;
        gap:1em;

        .subtitle{
            text-align: cetner;

            .subtitle__copy{
                font-size:14px;
            }
        }
    }

    @media (max-width:600px) and (min-height:800px){
        gap:1.75em;
    }
}

.splash__container{
    width: auto;
}

.splash__video{
    margin: auto;
    mix-blend-mode: multiply;

        video{
            width: 60vw;
        }

        #video--mobile{
            display: none;
        }

    @media screen and (max-width: 1050px){
        video{
            width: 80vw;
        }

    @media screen and (max-width: 600px){
        
        video{
            display: none;
        }

        #video--mobile{
            display: none;

            @media screen and (max-width: 600px){
                display: block;
                height: 55vh;
            }

            @media (max-width: 600px) and (max-height:600px){
                height: 50vh;
            }

            @media (max-width: 600px) and (min-height:800px){
                height: 60vh;
            }

            @media (max-width: 300px) and (max-height:700px){
                height: 55vh;
            }

            @media (max-width:600px) and (max-height:750px){
                height: 50vh;
            }
        }

    }

    }
}

.subtitle{
    p{
        margin: 0;
    }
}
