body {
	background: $color__background-body; // Fallback for when there is no custom background color defined.
    width: 100%; 
    color: black;
}

.main--counter{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    align-items: stretch;
    
    @media screen and (max-width:1100px){
        height: 75vh;
    }
    
    @media screen and (max-width:600px){
        height:87vh;
    }
}
