.main--tracker{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 80vh;
    align-items: center;
    
    @media screen and (max-width:1100px){
        height: 75vh;
    }
    
    @media screen and (max-width:600px){
        padding-top: 3em;
        height:60vh;
    }
}

.splash-subtitle--tracker{
    height: 100%;
    margin: 0 !important;
    width: auto !important;
}

.splash_video--tracker{
    width: 80%;
}

.subtitle__copy--tracker{
    line-height: 1.85vw;
    font-size: 1vw;
    
    @media screen and (max-width:1110px){
        line-height: 2.5vw;
        font-size: 1.75vw;
    }
    
    @media screen and (max-width:600px){
        font-size: 3.5vw;
        line-height: 4.5vw;
    }
    
}

.tracker__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    width: 80%;
    height: 80vh;
    
//    @media screen and (max-width:1200){
//        display: none;
//    }
}

.tracker__characters{
    display: block;
    width: 70%;
    
    @media (hover:none){
        display: none;
    }
    
    @media screen and (max-width: 1200px){
        display: none;
    }
}

.splash__container--tracker{
    
    @media (hover:hover){
        display: none;
    }
    
    /*Switch to video if viewport is narrow*/
    @media screen and (max-width:1200px){
        display: flex;
    }
    
    /*Switch to video if touch device*/
    @media (hover:none){
        display: flex;
    }
}

.tracker__subtitle{
    
}